.main{
  display: flex;
  padding: 1rem;
  background: linear-gradient(
                  to right bottom,
                  rgba(255, 255, 255, 0.3),
                  rgba(255, 255, 255, 0.3)
  );
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  backdrop-filter: blur(2rem);

  @include respond-below(sm) {
    flex-direction: column;
    align-items: center;
  }

  .sidebar{
    flex: 1;

    @include respond-below(sm) {
      flex: 3;
      margin-bottom: 1rem;
    }

    &__profile-pic{
      width: 150px;
      border-radius: 50%;
      border: 2px solid #c6c2c2;
    }
  }

  .profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
    margin-left: 1rem;

    &__name{
      margin-bottom: 1rem;
    }

    &__description{
      margin-bottom: 1rem;
    }

    &__statistics-list{
      display: flex;
    }

    &__statistics-item{
      margin-right: 1rem;
      & span{
        font-weight: bold;
      }
    }
  }
}
